@font-face {
    font-family: marvelfont;
    src: url("./fonts/weibo.eot");
    src: url("./fonts/weibo.eot") format('embedded-opentype'),
         url('./fonts/weibo.woff2') format('woff2'),
         url('./fonts/weibo.woff') format('woff'),
         url('./fonts/weibo.ttf') format('truetype'),
         url('./fonts/weibo.svg#weibo') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: litefont;
    src: url('./fonts/iconfont_78eb594e.eot');
    src: url('./fonts/iconfont_78eb594e.eot') format('embedded-opentype'),
         url('./fonts/iconfont_78eb594e.woff2') format('woff2'),
         url('./fonts/iconfont_78eb594e.woff') format('woff'),
         url('./fonts/iconfont_78eb594e.ttf') format('truetype'),
         url('./fonts/iconfont_78eb594e.svg#iconfont_78eb594e') format('svg');
}


.m-font {
    font-family: marvelfont;
    display: inline-block;
    -webkit-font-smoothing: antialiased
}

.m-font-arrow-right::before {
    content: "\E000"
}

.m-font-dot-more::before {
    content: "\E001"
}

.m-font-download::before {
    content: "\E002"
}

.m-font-comment::before {
    content: "\E003"
}

.m-font-forward::before {
    content: "\E004"
}

.m-font-star {
    position: relative
}

.m-font-star::before {
    content: "\E005"
}

.m-font-star::after {
    content: "\E005";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

.m-font-follow::before {
    content: "\E006"
}

.m-font-followed::before {
    content: "\E007"
}

.m-font-arrow-down::before {
    content: "\E008"
}

.m-font-check::before {
    content: "\E009"
}

.m-font-close::before {
    content: "\E00A"
}

.m-font-exchange::before {
    content: "\E00B"
}

.m-font-minus::before {
    content: "\E00C"
}

.m-font-plus::before {
    content: "\E00D"
}

.m-font-repeat::before {
    content: "\E00E"
}

.m-font-play::before {
    content: "\E00F"
}

.m-font-stop::before {
    content: "\E010"
}

.m-font-down::before {
    content: "\E011"
}

.m-font-up::before {
    content: "\E012"
}

.m-font-chart::before {
    content: "\E013"
}

.m-font-up-s::before {
    content: "\E014"
}

.m-font-search::before {
    content: "\E015"
}

.m-font-bars::before {
    content: "\E016"
}

.m-font-arrow-left::before {
    content: "\E017"
}

.m-font-wb::before {
    content: "\E018"
}

.m-font-wbmsg::before {
    content: "\E019"
}

.m-font-wc::before {
    content: "\E01A"
}

.m-font-warn::before {
    content: "\E01B"
}

.m-font-wcmms::before {
    content: "\E01C"
}

.m-font-line-check::before {
    content: "\E01D"
}

.m-font-line-close::before {
    content: "\E01E"
}

.m-font-live::before {
    content: "\E01F"
}

.lite-iconf {
    font-family: litefont;
    font-size: 1.75rem;
    color: #fff
}

.lite-iconf-live:before {
    content: "\E902"
}

.lite-iconf-setup:before {
    content: "\E001"
}

.lite-iconf-share:before {
    content: "\E002"
}

.lite-iconf-eit:before {
    content: "\E004"
}

.lite-iconf-editor:before {
    content: "\E005"
}

.lite-iconf-profile:before {
    content: "\E006";
    color: #282f3c;
    font-size: 1.625rem
}

.lite-iconf-message:before {
    content: "\E007"
}

.lite-iconf-report:before {
    content: "\E008"
}

.lite-iconf-comments:before {
    content: "\E009"
}

.lite-iconf-like:before {
    content: "\E010"
}

.lite-iconf-liked:before {
    content: "\E011";
    color: #db5f5f
}

.lite-iconf-emote:before {
    content: "\E012"
}

.lite-iconf-pic:before {
    content: "\E013"
}

.lite-iconf-edit:before {
    content: "\E014"
}

.lite-iconf-his:before {
    content: "\E015"
}

.lite-iconf-horn:before {
    content: "\E016"
}

.lite-iconf-each {
    color: #697480;
    font-size: .8125rem
}

.lite-iconf-each:before {
    content: "\E017"
}

.lite-iconf-female {
    font-size: .8125rem
}

.lite-iconf-female:before {
    content: "\E018";
    color: #697480
}

.lite-iconf-male {
    font-size: .8125rem
}

.lite-iconf-male:before {
    content: "\E019";
    color: #697480
}

.lite-iconf-dm {
    font-size: 1.625rem;
    padding-left: 1px
}

.lite-iconf-dm:before {
    content: "\E021";
    color: #697480
}

.lite-iconf-releas {
    font-size: 1.25rem
}

.lite-iconf-releas:before {
    content: "\E022";
    color: #282f3c
}

.lite-iconf-home_h:before {
    content: "\E023"
}

.lite-iconf-home:before {
    content: "\E024"
}

.lite-iconf-msg_h:before {
    content: "\E025"
}

.lite-iconf-msg:before {
    content: "\E026"
}

.lite-iconf-account_h:before {
    content: "\E027"
}

.lite-iconf-account:before {
    content: "\E028"
}

.lite-iconf-video_h:before {
    content: "\E029"
}

.lite-iconf-video:before {
    content: "\E030"
}

.lite-iconf-refresh:before {
    content: "\E032"
}

.lite-iconf-account_h,
.lite-iconf-home_h,
.lite-iconf-msg_h,
.lite-iconf-video_h {
    color: #282f3c;
    font-size: 1.375rem
}

.lite-iconf-account,
.lite-iconf-home,
.lite-iconf-msg,
.lite-iconf-video {
    color: #000;
    font-size: 1.375rem
}

.lite-iconf-comments,
.lite-iconf-like,
.lite-iconf-liked,
.lite-iconf-report,
.lite-iconf-share {
    color: rgba(40, 47, 60, .8);
    font-size: 1.125rem
}