body {
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", sans-serif;
}

.card {
    width: 750px;
    margin: auto;
    font-family: "Helvetica Neue", sans-serif;
    color: #333333;
}

.main-card {
    width: 750px;
    /* margin: 0 auto; */
    margin-bottom: 7.5px;
    /* border-bottom: 1px solid; */
    background-color: #ffffff;
}



.bgImg {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    /* background: url("../img/photo/img.jpg") no-repeat center; */
    background-size: 60px;
}

.banner {
    width: 750px;
    background-color: #f9f9f9;
    margin: auto;
    font-family: "Helvetica Neue", sans-serif;
    color: #333333;
}

.banner-wrap {
    width: 720px;
    /* background-color: blue; */
    height: 55px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.banner-wrap .title {
    font-size: 21.25px;

}

.back {
    font-size: 26px;
    /* float: left; */
}

.more {
    font-size: 26px;
}

.weibo-top-box {
    display: flex;
    /* background-color: red; */
    margin: auto 15px;
    padding-top: 18.75px;
}

.m-avatar-box {
    display: flex;
    width: 40px;
    height: 50px;
}

.m-box-name-box {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.host-name {
    margin: 3px 0px;
    font-size: 18px;
}

.host-phone {
    margin-top: 3px;
    font-size: 13.75px;
    color: #888888;
}

.content-frame {
    width: 720px;
    margin: 10px auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.host-content {
    font-size: 20px;
    margin: 0;
}

.lite-page-tab {
    width: 750px;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
}

.lite-page-tab .lite-page-tab-wrap {
    width: 720px;
    height: 50px;
    /* background-color:red; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 19px;
    color: #9aa4ac;
}

.comment-area {
    position: relative;
    background-color: #fafafa;
    min-height: 600px;
    width: 750px;
}


.forward-num {
    margin: 0 30px 0 0;
}

.comment-num {
    margin: 0 30px 0 0;
}

.like-num {
    margin: 0 30px 0 0;
}

.comment-frame {
    width: 750px;
    background-color: #fff;
    padding-top: 15px;
    /* margin: 0 auto; */
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
}

.comment-wrap {
    display: flex;
    /* flex-direction: row; */
    /* position: relative; */
}

.guest-box {
    margin-left: 15px;
    margin-top: 0px;
    padding-top: 0px;
}

.guest-name {
    margin-bottom: 14px;
    font-size: 17.5px;
}

.guest-date-box {
    margin-top: 12px;
    padding-bottom: 18px;
    font-size: 13.75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 670px;
    border-bottom: 1px solid #e2e2e2;
}

.btn {
    display: flex;
    padding-right: 15px;
}

.guest-comment {
    font-size: 20px;
}

.like-btn {
    padding-right: 12px;
}

.liked-num {
    color: #888888;
    margin-left: 3px;
    padding-left: 0px;
    /* margin: 5 auto; */
}

.wb-content-frame {
    width: 750px;
    background-color: #ffffff;
    /* box-sizing: content-box; */
    padding-bottom: 10px;
    position: relative;
    margin: auto;
}

.reply-box {
    position: fixed;
    bottom: 0px;
    width: 750px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    z-index: 80;
}


.comment-detail {
    resize: none;
    height: 62px;
    width: 750px;
    border: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 62px;
    vertical-align: middle;
    border-top: 1px solid #e2e2e2;
}

.comment-detail:focus {
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: #c1c5cb;
    font-size: 20px;
    /* padding-top: 16px; */
}

.reply-btn {
    display: flex;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.reply {
    width: 75px;
    height: 36px;
    background-color: #a4ccf6;
    border: 0;
    /* border-radius: 10px; */
    color: #ffffff;
    font-size: 18.75px;
    /* visibility: visible; */
}

.new-comment {
    padding: 10px 0px;
    display: none;
    margin-left: 15px;
}

.new-comment-wrap {
    display: flex;
}


.new-guest-box {
    margin-left: 15px;
    margin-top: 0px;
    padding-top: 0px;
}

.new-guest-name {
    margin-bottom: 14px;
    font-size: 17.5px;
}

.new-guest-comment {
    font-size: 20px;
}

.new-guest-date-box {
    margin-top: 12px;
    padding-bottom: 18px;
    font-size: 13.75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 670px;
    border-bottom: 1px solid #e2e2e2;
}

.guest-comment-reply-box {
    margin-top: 7.5px;
    background-color: #f6f6f6;
    padding: 0.5rem .625rem;
    line-height: 1.25rem;
    display: none;
    /* display: flex;
    justify-content: space-around;*/
}

.guest-comment-reply-boxed {
    margin-top: 7.5px;
    background-color: #f6f6f6;
    padding: 0.5rem .625rem;
    line-height: 1.25rem;
    display: block;
    /* display: flex;
    justify-content: space-around;*/
}

.guest-comment-reply-boxing {
    margin-top: 7.5px;
    background-color: #f6f6f6;
    padding: 0.5rem .625rem;
    line-height: 1.25rem;
    display: block;
    /* display: flex;
    justify-content: space-around;*/
}

.guest-comment-reply-area {
    display: flex;
    flex-direction: row;
    font-size: 17.5px;
}

.ps-name {
    color: #507daf;
}

.mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
    z-index: 120;
    display: none;

}
.modal .modal-header{
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 15px;
}
.modal .modal-header p {
    line-height: 50px;
    display: inline-block;
}
.modal .modal-header .modal-header-title{	
    font-size: 20px;
    color: #333;
}
.modal .modal-header .modal-header-close{
    float: right;
    font-size: 26px;
    margin-top: -2px;
    color: #9C9FA4;
    cursor: default;
}
.modal .modal-content{
    min-height: 100px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    /* padding-left: 10px; */
    padding-bottom: 30px;
    /* display: flex;
    vertical-align: bottom;
    align-items:flex-end; */
}
.modal .modal-content .modal-content-text{
    /* resize: none; */
    width: 90%;
    height: 70px;
    font-size: 28px;
    border: none;
    /* display: flex; */
    /* line-height: 100px; */
    /* vertical-align: text-bottom; */
    border-bottom: 1px solid;
    /* display: inline-block; */
    /* display: inline-block; */
}

.modal-content-text::placeholder{
    font-size: 23px;
}
.modal .modal-content .modal-content-text:focus{
    outline: none;
    bottom: 0px;
    border-bottom: 3px solid #c2601f;
}

.modal .modal-footer .modal-send-btn{
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    color: white;
    background: #a4ccf6;
    border: none;
}
.modal .modal-footer{
    border-top: 1px solid #f5f5f5;
    padding: 15px;
    text-align: right;

}

.modal-none{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
    z-index: 120;
    display: none;
}

.modal-none .modal-header{
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 15px;
}
.modal-none .modal-header p {
    line-height: 50px;
    display: inline-block;
}
.modal-none .modal-header .modal-header-title{	
    font-size: 20px;
    color: #333;
}
.modal-none .modal-header .modal-header-close{
    float: right;
    font-size: 26px;
    margin-top: -2px;
    color: #9C9FA4;
    cursor: default;
}
.modal-none .modal-content{
    min-height: 100px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    /* padding-left: 10px; */
    padding-bottom: 30px;
    /* display: flex;
    vertical-align: bottom;
    align-items:flex-end; */
}
.modal-none .modal-content .modal-content-text{
    width: 90%;
    height: 70px;
    line-height: 30px;
    font-size: 20px;
    border: none;
}


.modal-none .modal-footer .modal-close-btn{
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    color: white;
    background: #1b9af4;
    border: none;
}
.modal-none .modal-footer{
    border-top: 1px solid #f5f5f5;
    padding: 15px;
    text-align: right;
}

.time-title {
    position: absolute;
    width: 200px;
    right: 20px;
    top: 20px;
    font-family:"微软雅黑";
    font-size:35px;
    margin:15px 0;
    border-bottom:solid 1px #ccc;
    padding-bottom:15px;
    /* padding-left: 80px; */
    letter-spacing:2px;
    display: flex;
    justify-content: space-around;
}

.time-item{
    position: absolute;
    right: 20px;
    top: 100px;

}
.time-item strong {
    background:#C71C60;
    color:#fff;
    line-height:35px;
    font-size:30px;
    font-family:Arial;
    padding:0 5px;
    margin-right:10px;
    border-radius:5px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
}
#day_show {
    float:left;
    line-height:49px;
    color:#c71c60;
    font-size:32px;
    margin:0 10px;
    font-family:Arial,Helvetica,sans-serif;
}
.item-title .unit {
    background:none;
    line-height:49px;
    font-size:24px;
    padding:0 10px;
    float:left;
}

.finish-box{
    position: absolute;
    right: 10px;
    top: 200px;
}

#finishing{
    width: 250px;
    height: 60px;
    font-size: 25px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.like-to-host{
    padding-right: 37px;
}
.like-to-self{
    padding-right: 42px;
}
.like-box{
    min-height: 750px;
    min-height: 600px;
    background-color: #fbfbfb;
    font-size: 17.5px;
    color: #929292;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forward-box{
    min-height: 750px;
    min-height: 600px;
    background-color: #fbfbfb;
    font-size: 17.5px;
    color: #929292;
    display: flex;
    justify-content: center;
    align-items: center;
}